.sidebar.sidebar-dark.accordion {
  background-color: #fe9329 !important;
}

.btn-icon-split.rounded-8 {
  border: 1px solid #fe9329;
}

.badge-counter {
  background-color: #fe9329 !important;
}

.badge-counter {
  background-color: #fe9329 !important;
}

h6 {
  background-color: #fe9329 !important;
  border: 1px solid #fe9329;
}

h6 {
  background-color: #fe9329 !important;
  border: 1px solid #fe9329;
}

.reset {
  margin: 2px;
}

